# Data Cleaning - Superstore Sales Data

* Importing Required Libraries

In [58]:
import pandas as pd

* Load the file

In [59]:
df = pd.read_excel("Superstore.xls")

* Reviewing Data Structure

In [60]:
df.head(5)

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country/Region,City,...,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
0,1,CA-2020-152156,2020-11-08,2020-11-11,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420.0,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.9600,2,0.00,41.9136
1,2,CA-2020-152156,2020-11-08,2020-11-11,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420.0,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.9400,3,0.00,219.5820
2,3,CA-2020-138688,2020-06-12,2020-06-16,Second Class,DV-13045,Darrin Van Huff,Corporate,United States,Los Angeles,...,90036.0,West,OFF-LA-10000240,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,14.6200,2,0.00,6.8714
3,4,US-2019-108966,2019-10-11,2019-10-18,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,33311.0,South,FUR-TA-10000577,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,957.5775,5,0.45,-383.0310
4,5,US-2019-108966,2019-10-11,2019-10-18,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,33311.0,South,OFF-ST-10000760,Office Supplies,Storage,Eldon Fold 'N Roll Cart System,22.3680,2,0.20,2.5164

In [61]:
df.shape

(9994, 21)

In [62]:
df.columns

Index(['Row ID', 'Order ID', 'Order Date', 'Ship Date', 'Ship Mode',
       'Customer ID', 'Customer Name', 'Segment', 'Country/Region', 'City',
       'State', 'Postal Code', 'Region', 'Product ID', 'Category',
       'Sub-Category', 'Product Name', 'Sales', 'Quantity', 'Discount',
       'Profit'],
      dtype='object')

In [63]:
df.isnull().sum()

Row ID             0
Order ID           0
Order Date         0
Ship Date          0
Ship Mode          0
Customer ID        0
Customer Name      0
Segment            0
Country/Region     0
City               0
State              0
Postal Code       11
Region             0
Product ID         0
Category           0
Sub-Category       0
Product Name       0
Sales              0
Quantity           0
Discount           0
Profit             0
dtype: int64

* Dropping Unwanted Columns

In [64]:
drop = [
    'Row ID', 'Customer Name', 'Ship Mode', 'Postal Code', 'Product Name'
    ]

df.drop(columns=drop, inplace=True)

In [65]:
df.head(10)

,Order ID,Order Date,Ship Date,Customer ID,Segment,Country/Region,City,State,Region,Product ID,Category,Sub-Category,Sales,Quantity,Discount,Profit
0,CA-2020-152156,2020-11-08,2020-11-11,CG-12520,Consumer,United States,Henderson,Kentucky,South,FUR-BO-10001798,Furniture,Bookcases,261.9600,2,0.00,41.9136
1,CA-2020-152156,2020-11-08,2020-11-11,CG-12520,Consumer,United States,Henderson,Kentucky,South,FUR-CH-10000454,Furniture,Chairs,731.9400,3,0.00,219.5820
2,CA-2020-138688,2020-06-12,2020-06-16,DV-13045,Corporate,United States,Los Angeles,California,West,OFF-LA-10000240,Office Supplies,Labels,14.6200,2,0.00,6.8714
3,US-2019-108966,2019-10-11,2019-10-18,SO-20335,Consumer,United States,Fort Lauderdale,Florida,South,FUR-TA-10000577,Furniture,Tables,957.5775,5,0.45,-383.0310
4,US-2019-108966,2019-10-11,2019-10-18,SO-20335,Consumer,United States,Fort Lauderdale,Florida,South,OFF-ST-10000760,Office Supplies,Storage,22.3680,2,0.20,2.5164
5,CA-2018-115812,2018-06-09,2018-06-14,BH-11710,Consumer,United States,Los Angeles,California,West,FUR-FU-10001487,Furniture,Furnishings,48.8600,7,0.00,14.1694
6,CA-2018-115812,2018-06-09,2018-06-14,BH-11710,Consumer,United States,Los Angeles,California,West,OFF-AR-10002833,Office Supplies,Art,7.2800,4,0.00,1.9656
7,CA-2018-115812,2018-06-09,2018-06-14,BH-11710,Consumer,United States,Los Angeles,California,West,TEC-PH-10002275,Technology,Phones,907.1520,6,0.20,90.7152
8,CA-2018-115812,2018-06-09,2018-06-14,BH-11710,Consumer,United States,Los Angeles,California,West,OFF-BI-10003910,Office Supplies,Binders,18.5040,3,0.20,5.7825
9,CA-2018-115812,2018-06-09,2018-06-14,BH-11710,Consumer,United States,Los Angeles,California,West,OFF-AP-10002892,Office Supplies,Appliances,114.9000,5,0.00,34.4700

In [66]:
df.isnull().sum()

Order ID          0
Order Date        0
Ship Date         0
Customer ID       0
Segment           0
Country/Region    0
City              0
State             0
Region            0
Product ID        0
Category          0
Sub-Category      0
Sales             0
Quantity          0
Discount          0
Profit            0
dtype: int64

* Finding Duplicate values

In [67]:
duplicates = df[df.duplicated()]
print(f"Number of duplicated rows: {duplicates.shape[0]}")
duplicates

Number of duplicated rows: 1

,Order ID,Order Date,Ship Date,Customer ID,Segment,Country/Region,City,State,Region,Product ID,Category,Sub-Category,Sales,Quantity,Discount,Profit
3406,US-2018-150119,2018-04-23,2018-04-27,LB-16795,Home Office,United States,Columbus,Ohio,East,FUR-CH-10002965,Furniture,Chairs,281.372,2,0.3,-12.0588

In [68]:
df = df.drop_duplicates()

In [69]:
df.shape

(9993, 16)

* Converting Date Columns

In [70]:
df['order_date'] = pd.to_datetime(df['Order Date'])
df['ship_date'] = pd.to_datetime(df['Ship Date'])

In [71]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 9993 entries, 0 to 9993
Data columns (total 18 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Order ID        9993 non-null   object
 1   Order Date      9993 non-null   datetime64[ns]
 2   Ship Date       9993 non-null   datetime64[ns]
 3   Customer ID     9993 non-null   object
 4   Segment         9993 non-null   object
 5   Country/Region  9993 non-null   object
 6   City            9993 non-null   object
 7   State           9993 non-null   object
 8   Region          9993 non-null   object
 9   Product ID      9993 non-null   object
 10  Category        9993 non-null   object
 11  Sub-Category    9993 non-null   object
 12  Sales           9993 non-null   float64
 13  Quantity        9993 non-null   int64
 14  Discount        9993 non-null   float64
 15  Profit          9993 non-null   float64
 16  order_date      9993 non-null   datetime64[ns]
 17  ship_date       9993 non-null   datetime64[ns]
dtypes: datetime64[ns](4), float64(3), int64(1), object(10)
memory usage: 1.4+ MB

* Extracting Year-Month Column

In [72]:
df['Year-Month'] = df['order_date'].dt.to_period('M').astype(str)

In [73]:
df.columns

Index(['Order ID', 'Order Date', 'Ship Date', 'Customer ID', 'Segment',
       'Country/Region', 'City', 'State', 'Region', 'Product ID', 'Category',
       'Sub-Category', 'Sales', 'Quantity', 'Discount', 'Profit', 'order_date',
       'ship_date', 'Year-Month'],
      dtype='object')

In [74]:
df.head(5)

,Order ID,Order Date,Ship Date,Customer ID,Segment,Country/Region,City,State,Region,Product ID,Category,Sub-Category,Sales,Quantity,Discount,Profit,order_date,ship_date,Year-Month
0,CA-2020-152156,2020-11-08,2020-11-11,CG-12520,Consumer,United States,Henderson,Kentucky,South,FUR-BO-10001798,Furniture,Bookcases,261.9600,2,0.00,41.9136,2020-11-08,2020-11-11,2020-11
1,CA-2020-152156,2020-11-08,2020-11-11,CG-12520,Consumer,United States,Henderson,Kentucky,South,FUR-CH-10000454,Furniture,Chairs,731.9400,3,0.00,219.5820,2020-11-08,2020-11-11,2020-11
2,CA-2020-138688,2020-06-12,2020-06-16,DV-13045,Corporate,United States,Los Angeles,California,West,OFF-LA-10000240,Office Supplies,Labels,14.6200,2,0.00,6.8714,2020-06-12,2020-06-16,2020-06
3,US-2019-108966,2019-10-11,2019-10-18,SO-20335,Consumer,United States,Fort Lauderdale,Florida,South,FUR-TA-10000577,Furniture,Tables,957.5775,5,0.45,-383.0310,2019-10-11,2019-10-18,2019-10
4,US-2019-108966,2019-10-11,2019-10-18,SO-20335,Consumer,United States,Fort Lauderdale,Florida,South,OFF-ST-10000760,Office Supplies,Storage,22.3680,2,0.20,2.5164,2019-10-11,2019-10-18,2019-10

* Saving Cleaned Dataset

In [75]:
df.to_csv('cleaned_superstore_data.csv', index=False)